.DS_Store
app/dist/
build/node_modules/
build/installer/
build/
wallets/
bumo.db
coverage
node_modules
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
app/src/main/.env
build/buchain
app/buchain/
buchain/mac/data/*
buchain/mac/log/
buchain/win/data/
buchain/win/log/
.idea
.project